.p-inputnumber.no-arrows input[type="number"]::-webkit-inner-spin-button,
.p-inputnumber.no-arrows input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.p-inputnumber.no-arrows input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
