:root {
    --primary-color: #14b8a6;
    --text-color: #0f766e;
    --background-color: #f0fdfa;
  }
  

  .user-management-container {
    min-height: 65vh;
    max-width: 1500px;
    align-items: center;
    margin-top: 78px;
    margin-left: 150px;
    margin-bottom: 85px;
  }
  
  .btn-info {
    background-color: #60a5fa !important; 
    border-color: #60a5fa !important;
    color: #fff;
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .btn-info:hover {
    background-color: #3b82f6; 
    border-color: #3b82f6;
  }
  
  @media (max-width: 768px) {
    .user-management-container {
      margin-left: 20px; 
      max-width: 100%; 
    }
  
    .card-header h1 {
      font-size: 1.5rem;
    }
  
    .btn-edit,
    .btn-delete,
    .btnNuevo 
    .btn-info{
      width: 35px;
      height: 35px;
      font-size: 12px;
    }

    .btn-info {
      background-color: #60a5fa !important;
      border-color: #60a5fa !important;
      color: #fff;
      border-radius: 50%; 
      width: 40px; 
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .btn-info:hover {
      background-color: #3b82f6; 
      border-color: #3b82f6;
    }
    
  
    .flex-gap {
      display: flex;
      gap: 5px;
    }
  
    .p-button {
      font-size: 14px; 
      padding: 8px 15px; 
    }
  }
  

  @media (max-width: 480px) {
    .user-management-container {
      margin-left: 10px;
      margin-top: 50px;
    }
  
    .card-header h1 {
      font-size: 1.2rem;
    }
  
    .p-button {
      font-size: 12px;
      padding: 6px 12px;
    }
  
  
    .card {
      width: 100%;
    }
  

    .p-datatable-turquoise .p-datatable-thead > tr > th {
      font-size: 12px;
    }
  }
    

  .btn-edit {
    background-color: #facc15 !important;
    border-color: #facc15 !important;
    color: #000;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .btn-edit:hover {
    background-color: #eab308; 
    border-color: #eab308;
  }
  

  .btn-delete {
    background-color: #ef4444 !important; 
    border-color: #ef4444 !important;
    color: #fff;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
 
  .user-management-container .btnNuevo {
    background-color: #98dfd6 !important;
    color: #000000 !important;
  }
  
  .user-management-container .btnNuevo:hover {
    color: #ffffff !important;
  }
  

  .flex-gap {
    display: flex;
    gap: 10px;
  }
  

  .p-button.p-component {

    color: #fff;
    border: none;

    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .p-button:hover {
    background-color: #059669;
    transform: translateY(-2px); 
  }
  
  .p-button:active {
    background-color: #047857; 
    transform: translateY(0); 
  }
  
  .card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #14b8a6, #0d9488);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  .card-header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .p-datatable-turquoise {
    font-family: 'Arial', sans-serif;
  }
  
  .p-datatable-turquoise .p-datatable-header {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .p-datatable-turquoise .p-datatable-thead > tr > th {
    background-color: #d5e0df !important;
    color: rgb(0, 0, 0);
    border: none;
  }
  
  .p-datatable-turquoise .p-datatable-tbody > tr:hover {
    background-color: rgba(20, 184, 166, 0.1);
  }
  
  .p-dialog .p-dialog-header {
    background: linear-gradient(to right, #14b8a6, #0d9488);
    color: white;
  }
  
  .p-dialog .p-dialog-content {
    padding: 1.5rem;
  }
  
  .p-inputtext {
    border-color: var(--primary-color);
  }
  
  .p-inputtext:enabled:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(20, 184, 166, 0.2);
  }
  